<form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h3><label for="title"> Update Title:</label>
    <input type="text" id="title" name="title" value="<%= @article.title %>"></h3>
    <h5><label for="content"> Update Content:</label></h5>
    <textarea type="text" id="content" name="content" value="<%= @article.content %>"></textarea>
    <input type="submit" value="update">
</form>